build/
out/
.vs/
.vscode/
*.user
*.suo
*.sdf
*.VC.db
*.opendb
*.exe
*.exe.manifest
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.ipdb
*.exp
*.lib
*.dll
*.so
*.dylib
*.ncb
*.opt
*.plg
*.aps
*.rc2
*.res
*.tmp
*.sbr
*.dep
*.manifest
*.metagen
*.xbf
*.pri
*.pem
*.pfx
*.snk
CMakeCache.txt
CMakeFiles/